.about {
	height: 100%;
	width: 100%;
}

/*.container {
	margin-left: 15%;
	margin-right: 15%;
}*/

#header-text {
	font-family: Cambria, "Hoefler Text",Utopia,"Liberation Serif","Nimbus Roman No9 L","Times New Roman",serif;
	text-align: center;
	color: #8B0000;
	text-decoration: underline
}

#our-promise > p {
	font-family: Corbel,Calibri,Candara,Helvetica,Verdana,Arial,sans-serif;
	color: #663300;
	line-height: 34px;
    margin-top: 18px;
    margin-bottom: 30px;
    font-size: 20px
}

hr {
	margin-bottom: 10px;
    color: #000;
    background-color: #000;
}

.fade-divider {
	/*margin-bottom: -7px;*/
	margin-left: 40px;
	margin-right: 40px;
	height: 2px;
	background: -webkit-linear-gradient(left, #EDEADB , #663300, #EDEADB); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(right, #EDEADB, #663300, #EDEADB); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(right, #EDEADB, #663300, #EDEADB); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to right, #EDEADB , #663300, #EDEADB); /* Standard syntax */
}

#header {
	font-family: Cambria, "Hoefler Text",Utopia,"Liberation Serif","Nimbus Roman No9 L","Times New Roman",serif;
	text-align: center;
	color: #8B0000;
	font-size: 30px;
	margin-bottom: 13px;
	margin-top: 13px;
}

.question {
	color: #663300;
	line-height: 27px;
	font-size: 18px;
	/*text-align: center;*/
	margin-top: 25px;
	font-family: Corbel,Calibri,Candara,Helvetica,Verdana,Arial,sans-serif;
}

.answer {
	color: #663300;
	line-height: 30px;
	font-size: 16px;
	/*text-align: center;*/
	margin-top: -5px;
	font-family: Corbel,Calibri,Candara,Helvetica,Verdana,Arial,sans-serif;
}

.qas {
	margin-top: 25px;
	margin-bottom: 25px;
}

.underline {
	text-decoration: underline;
}

.quote {
	color: #663300;
	line-height: 27px;
	font-size: 18px;
	/*text-align: center;*/
	margin-top: 25px;
	text-align: center;
	font-family: Corbel,Calibri,Candara,Helvetica,Verdana,Arial,sans-serif;
}

.person {
	color: #663300;
	line-height: 30px;
	font-size: 16px;
	text-align: center;
	margin-top: -5px;
	font-family: Corbel,Calibri,Candara,Helvetica,Verdana,Arial,sans-serif;
}

.john {
	color: #663300;
	line-height: 30px;
	font-size: 17px;
	/*text-align: center;*/
	margin-top: -5px;
	font-family: Corbel,Calibri,Candara,Helvetica,Verdana,Arial,sans-serif;
}

.container.col {
	padding-left: 0px;
	padding-right: 0px;
}

#john {
	width: 92%;
	margin-top: 15%;
}

.img-carousel2 {
	height: 410px;
	margin-top: 30px;
	margin-bottom: 29px;
}
