.has-error {
	border: 1px solid red;
}

textarea {
	resize: none;
}

.field.form-group {
	width: 35%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 35px;
}

.form-label {
	font-family: Papyrus;
  	text-align: center;
  	color: #663300;
  	font-size: 20px;
  	font-weight: bold;
	margin-bottom: 0;
}

.error-message {
	color: red;
}

.submit-btn {
	margin-bottom: 35px;
	width: 35%;
	height: 50px;
	font-family: Papyrus;
	color: white;
	font-size: 20px;
	border: 0;
}

.opaque {
	opacity: 0.4;
}