html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 75px;
  background: url('/img/Single Leaf.svg') no-repeat fixed, -webkit-linear-gradient(right, white, #EDEADB, white); /* For Safari 5.1 to 6.0 */
  background: url('/img/Single Leaf.svg') no-repeat fixed, -o-linear-gradient(right, white, #EDEADB, white) ; /* For Opera 11.1 to 12.0 */
  background: url('/img/Single Leaf.svg') no-repeat fixed, -moz-linear-gradient(right, white, #EDEADB, white); /* For Firefox 3.6 to 15 */
  background: url('/img/Single Leaf.svg') no-repeat fixed, linear-gradient(to right, white , #EDEADB, white); /* Standard syntax */
}

.main-body{
  background: url('/img/Single Leaf.svg') no-repeat fixed, -webkit-linear-gradient(right, white, #EDEADB, white); /* For Safari 5.1 to 6.0 */
  background: url('/img/Single Leaf.svg') no-repeat fixed, -o-linear-gradient(right, white, #EDEADB, white) ; /* For Opera 11.1 to 12.0 */
  background: url('/img/Single Leaf.svg') no-repeat fixed, -moz-linear-gradient(right, white, #EDEADB, white); /* For Firefox 3.6 to 15 */
  background: url('/img/Single Leaf.svg') no-repeat fixed, linear-gradient(to right, white , #EDEADB, white); /* Standard syntax */
  width: 100%;
}

.home {
  height: 100%;
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
}

.twitter-timeline {
	max-width: none !important;
	/*border: 2px solid #8B0000 !important;*/
}

.news-section {
	height: 600px;
	/*border: 2px solid #8B0000 !important;*/
}

.img-carousel {
	height: 605px;
	padding-left: 0px;
}

.imgs {
  border: 2px solid #663300 !important;
}

.row {
	margin-top: 1%;
	margin-bottom: 1%;
}

.slider-nav {
  text-align: center;
  margin-top: -17px;
  z-index: 1000;
}

.slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
}

.slider-dots li {
  color: #bbbcbc;
  display: inline;
  font-size: 30px;
  margin-right: 5px;
}

.slider-dots li.active-dot {
  color: #363636;
}

.active {
  display: inline-block;
}

.inactive {
  display: none;
}


#tw-header-text {
  font-family: Papyrus;
  text-align: center;
  color: #663300;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 6px;
}

#ns {
  margin-top: 17px;
}

.news {
  font-family: Cambria, "Hoefler Text",Utopia,"Liberation Serif","Nimbus Roman No9 L","Times New Roman",serif;
  font-size: 16px;
}

#ns > ul {
  padding-left: 20px;
}

.gmaps {
  width: 100%;
  border: 1px solid #663300 !important;
}

.tw {
  margin-top: 15px;
}

.intro {
  margin-top: 45px;
  margin-bottom: 30px;
}

.intro-text {
  text-align: center;
  margin: 0 40px 0 40px;
  font-size: 19px;
  font-weight: bold;
}

#intro-header-text {
  font-family: Cambria, "Hoefler Text",Utopia,"Liberation Serif","Nimbus Roman No9 L","Times New Roman",serif;
  text-align: center;
  color: #8B0000;
  font-size: 32px;
  font-weight: bold;
}

.home-bullet {
  list-style: none;
  text-align: center;
  padding: 0;
}
/*
.container {
  width: 960px;
}


.header {
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid #ddd;
  
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  
  font-size: 17px;
  padding: 15px;
}


.header .menu {
  float: right;
  list-style: none;
  margin-top: 5px;
}

.menu > li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}

.menu a {
  color: #898989;
}


.dropdown-menu {
  font-size: 16px;
  margin-top: 5px;
  min-width: 105px;
}

.dropdown-menu li a {
  color: #898989;
  padding: 6px 20px;
  font-weight: 300;
}


.slider {
  position: relative;
  width: 100%;
  height: 470px;
  border-bottom: 1px solid #ddd;
}

.slide {
  background: transparent url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/feature-gradient-transparent.png') center center no-repeat;
  background-size: cover;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.active-slide {
    display: block;
}

.slide-copy h1 {
  color: #363636;  
  
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  
  font-size: 40px;
  margin-top: 105px;
  margin-bottom: 0px;
}

.slide-copy h2 {
  color: #b7b7b7;
  
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  
  font-size: 40px;
  margin: 5px;
}

.slide-copy p {
  color: #959595;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1.15em;
  line-height: 1.75em;
  margin-bottom: 15px;
  margin-top: 16px;
}

.slide-img {
  text-align: right;
}


.slide-feature {
  text-align: center;
  background-image: url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/ac.png');
  height: 470px;
}

.slide-feature img {
  margin-top: 112px;
  margin-bottom: 28px;
}

.slide-feature a {
  display: block;
  color: #6fc5e0;
  
  font-family: "HelveticaNeueMdCn", Helvetica, sans-serif;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  
  font-size: 20px;
}

.slider-nav {
  text-align: center;
  margin-top: 20px;
}

.arrow-prev {
  margin-right: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.arrow-next {
  margin-left: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
}

.slider-dots li {
  color: #bbbcbc;
  display: inline;
  font-size: 30px;
  margin-right: 5px;
}

.slider-dots li.active-dot {
  color: #363636;
}

.get-app {
  list-style: none;
  padding-bottom: 9px;
  padding-left: 0px;
  padding-top: 9px;
}

.get-app li {
  float: left;
  margin-bottom: 5px;
  margin-right: 5px;
}

.get-app img {
  height: 40px;
}

.news-section {
	margin-top: 1%;
	margin-bottom: 1%;
	background-color: #FFFFFF;
	height: 600px;
}*/