.resource-para {
	text-align: center;
	margin: 0 40px 20px 40px;
}

td.organizations {
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 50px;
}

table.resource_orgs {
	margin-top: 45px;
}