.footer {
	/*background-color: #f6f5e7;*/
	/*background-color: #EBE4C5;*/
	position: absolute;
	border-top: 2px solid #8B0000;
	border-bottom: 1px solid #8B0000;
	background: -webkit-linear-gradient(left, white, #EDEADB, white); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, white, #EDEADB, white); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, white, #EDEADB, white); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #EDEADB, #EBE4C5, #EDEADB); /* Standard syntax */
	height: 75px;
	width: 100%;
	bottom: 0;
}

.social-media-container {
	/*float: right;*/
	margin-right: 29px;
	margin-top: 7px;
}


#twitter {
	width: 55px;
	height: 55px;
	margin-top: auto;
	margin-bottom: auto;
/*	margin-right: 22px;*/
}

#facebook  {
	width: 36px;
	height: 36px;
	margin-top: auto;
	margin-bottom: 2px;
	/*margin-left:22px;*/
}

#pinterest {
	height: 76%;
}

#logo-cell {
	padding-right: 22px;
	padding-left: 22px;
}