#process {
}

.process-description {
	color: #663300;
	line-height: 30px;
	font-size: 20px;
	margin-top: 8px;
	font-family: "Hoefler Text",Utopia,"Liberation Serif","Nimbus Roman No9 L","Times New Roman",serif;
}

.prcs-img {
	float: right;
	margin-top: 10%;
}