<div id="process" class="main-body">
	<div class="container">
		<h2 id="header-text">The Process</h2>
		<div class="fade-divider"></div>
		<div class="row">
			<div class="col-md-8">
				<p class="process-description">We are hair loss specialists. We not only work with clients who are experiencing hair loss from chemotherapy, but also with clients who have alopecia, trichotillomania, and female patterned hair loss. We also assist the transgender community.</br></br>During our initial consultation, all your hair loss needs will be addressed. We will provide you with a complete list of instructions and reference sheets for all that we have reviewed. This will include: shampooing, conditioning, styling (do's & don'ts), and maintenance. We will ensure to find the right product for your style and ability.</br></br>Our additional services include wig washing, styling, cutting, coloring and sizing. Working in the hair loss community, we don’t just service our own products. We are here to assist everyone with their needs.</br></br>Remember, you can call us at anytime with questions, or if you are in need of help with your hair.</p>
			</div>
			<div class="col-md-4">
				<img class="prcs-img imgs" src="/img/process4.jpg">
			</div>
		</div>
	</div>
</div>