<div class="home body-page">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<div class="news-section">
					<p id="tw-header-text">NEWS</p>
					<div class="fade-divider"></div>
					<div id="ns">
						<ul>
							<li class="news">As of October 21st, J Crager Alternatives will be moving to a new location!</li>
						</ul>
					</div>					
				</div>
			</div>
			<div class="img-cs col-md-4">
				<div class="images">
					<img class="img-carousel img-responsive active" src="/img/Col1.jpg" />
					<img class="img-carousel img-responsive inactive" src="/img/Col2.jpg" />
					<img class="img-carousel img-responsive inactive" src="/img/Col3.jpg" />
				</div>
			</div>
			<div class="col-md-4">
				<div class="tw">
					<div class="tw-header">
						<p id="tw-header-text">Tweets from @jcalternatives !</p>
						<div class="fade-divider"></div>
					</div>
					<a class="twitter-timeline" 
					href="https://twitter.com/jcalternatives"
					height="590px" 
					data-widget-id="638356680040804352"
					data-chrome="transparent noheader"
					data-tweet-limit="5"
					height="600">Tweets by @jcalternatives</a>
					<script>
					    ! function(d, s, id) {
					        var js, fjs = d.getElementsByTagName(s)[0],
					            p = /^http:/.test(d.location) ? 'http' : 'https';
					        if (!d.getElementById(id)) {
					            js = d.createElement(s);
					            js.id = id;
					            js.src = p + "://platform.twitter.com/widgets.js";
					            fjs.parentNode.insertBefore(js, fjs);
					        }
					    }(document, "script", "twitter-wjs");
					</script>
				</div>
			</div>
		<div>
	</div>	

<!-- 	<div class="slider-nav">
      <ul class="slider-dots">
        <li class="dot active-dot">&bull;</li>
        <li class="dot">&bull;</li>
        <li class="dot">&bull;</li>
        <li class="dot">&bull;</li>
      </ul>
    </div>  -->

</div>