<div class="main-body home body-page">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<div class="news-section">
					<p id="tw-header-text">NEWS</p>
					<div class="fade-divider"></div>
					<div id="ns">
						<ul>
							<li class="news">As of October 21st, J Crager Alternatives will be moving to a new location!</li>
						</ul>
					</div>					
				</div>
			</div>
			<div class="img-cs col-md-4">
				<div class="images">
					<img class="img-carousel img-responsive active imgs" src="/img/Col1.jpg" />
					<img class="img-carousel img-responsive inactive imgs" src="/img/Col2.jpg" />
					<img class="img-carousel img-responsive inactive imgs" src="/img/Col3.jpg" />
				</div>
			</div>
			<div class="col-md-4">
				<iframe class="gmaps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2967.2133164270654!2d-87.73346568451882!3d41.95275297921643!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fcdb6bb79b52d%3A0x35309a4f37cc1f66!2s3950+N+Avondale+Ave%2C+Chicago%2C+IL+60641!5e0!3m2!1sen!2sus!4v1450588614090" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
				<div class="tw">
					<div class="tw-header">
						<p id="tw-header-text">Tweets from @jcalternatives !</p>
						<div class="fade-divider"></div>
					</div>
					<a class="twitter-timeline" 
					href="https://twitter.com/jcalternatives" 
					data-widget-id="638356680040804352"
					data-chrome="transparent noheader"
					height="251">Tweets by @jcalternatives</a>
					<script>
					    ! function(d, s, id) {
					        var js, fjs = d.getElementsByTagName(s)[0],
					            p = /^http:/.test(d.location) ? 'http' : 'https';
					        if (!d.getElementById(id)) {
					            js = d.createElement(s);
					            js.id = id;
					            js.src = p + "://platform.twitter.com/widgets.js";
					            fjs.parentNode.insertBefore(js, fjs);
					        }
					    }(document, "script", "twitter-wjs");
					</script>
				</div>
			</div>
		</div>
		<div class="intro">
			<h2 id="intro-header-text">Hair Loss… Now What?</h2>
			<p class="john intro-text">  

			So many questions arise when your told
			you may lose your hair.</p>
			</br>
			<ul class="home-bullet john intro-text">
				<li>When will I start to lose my hair?</li>
				<li>Should I purchase a wig?</li>
				<li>Human or Synthetic?</li>
				<li>Which is more comfortable?</li>
				<li>What’s the cost?</li>
				<li>Where do I start?</li>
			</ul>
			</br>
			<p class="john intro-text">
			J.Crager Alternatives will answer these 
			& many more questions.

			Working with patients in Chicago for over 20 years. 
			We specialize in all forms of Hair Loss resulting 
			from Chemotherapy, Alopecia, Trichotillomania, 
			medications, or dietary reasons.

			Starting with Your complimentary consultation, 
			We cover Your needs, Your schedule,
			Your comfort, & Your cut & style.   
			With over 30 years of Hairdressing ability,
			we make sure this is truly, Your Hair.

			As a transition partner we know it’s not "Just Hair”
			From diagnosis, throughout treatments, and until 
			your hair returns, we’re available to assist thru 
			this journey. 

			Contact us… with any questions. If you're hospitalized,
			we do make hospital calls on a as-need basis.
			</p>
		</div>
	</div>	
</div>

<!-- 	<div class="slider-nav">
      <ul class="slider-dots">
        <li class="dot active-dot">&bull;</li>
        <li class="dot">&bull;</li>
        <li class="dot">&bull;</li>
        <li class="dot">&bull;</li>
      </ul>
    </div>  -->